<div id="<%= dom_id account %>">
  <p>
    <strong>Full name:</strong>
    <%= account.full_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= account.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= account.phone %>
  </p>

  <p>
    <strong>National_ID:</strong>
    <%= account.national_id %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= account.account_number %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= account.status %>
  </p>

</div>
